*.aux
*.vo
*.v.d
*.glob
*Makefile.coq
*Makefile.coq.d
*Makefile.coq.conf
*Makefile.rocq
*Makefile.rocq.d
*Makefile.rocq.conf
*.coqdeps.d
*.lia.cache
*.nia.cache
*.vok
*.vos
*.crashcoqide

theories/.vscode
*.#*
